.client {
    display: flex;
    position: absolute;
    width: 1276px;
    height: 227px;
    padding: 60px 0 0 65px;
    top: 708px;
    left: 165px;
    background-color: #fff;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
    z-index: 10;
    &__wrapper {
        display: flex;
        width: 1045px;
        justify-content: space-between;
    }
}