.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    svg path {
        fill: #4D533C;
    }
    img {
        width: 100%;
    }
}