.slider__one {
    display: flex;
    position: absolute;
    width: 734px;
}

.project {
    padding-top: 150px;
    &__explanations {
        display: flex;
        margin: 150px 0 0 165px;
        width: 976px;
        align-self: center;
        &-title {
            display: inline-table;
            width: 325px;
            color: #4D533C;
        }
        &-descr {
            margin-left: 133px;
            color: rgba(33, 56, 66, 0.6);
        }
    }
    &__slider {
        min-width: 0;
    }










    &__slideLeftType {
        &-wrapper {
            display: flex;
            margin-top: 110px;
            width: 1306px;
            height: 615px;
        }
        &-LeftBlock {
            position: relative;
        }
        &__persona {
            position: absolute;
            width: 453px;
            height: 243px;
            top: 372px;
            left: 322px;
            background: #FFFFFF;
            box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
            border-radius: 8px;
            &-comment {
                padding: 30px 33px 0 30px;    
                color: #4D533C;
            }
            &-info {
                display: flex;
                padding: 25px 0 0 30px;
                &-photo {
                    width: 46px;
                }
                &-wrapper {
                    padding-left: 14px;
                }
            }
        }
        &-RightBlock {
            position: relative;
            width: 475px;
            top: 80px;
            left: 831px;
            &-title {
                width: 475px;
                color: #4D533C;
            }
            &-text {
                padding-top: 24px;
                width: 421px;
                color: rgba(33, 56, 66, 0.6);
            }
            &-link {
                padding-top: 90px;
                 a {
                    color: #D4D6D4;
                    &:hover {
                        color: #D4D6D4;
                    }
                }
            }
        }

    }










    &__slideRightType {
        &-wrapper {
            display: flex;
            margin: 100px 0 0 172px;
            width: 1268px;
            height: 585px;
        }
        &-LeftBlock {
            display: inline-table;
            position: relative;
            width: 475px;
            top: 80px;
            &-title {
                color: #4D533C;
            }
            &-text {
                padding-top: 24px;
                width: 423px;
                color: rgba(33, 56, 66, 0.6);
            }
            &-link {
                padding-top: 90px;
                a {
                    color: #D4D6D4;
                    &:hover {
                        color: #D4D6D4;
                    }
                }
            }
        }
        &-RightBlock {
            position: relative;
            margin-left: 58px;
        }
        &__persona {
            position: absolute;
            width: 453px;
            height: 243px;
            top: 342px;
            left: -58px;
            background: #FFFFFF;
            box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
            border-radius: 8px;
            &-comment {
                padding: 30px 33px 0 30px;    
                color: #4D533C;
            }
            &-info {
                display: flex;
                padding: 25px 0 0 30px;
                &-photo {
                    width: 46px;
                }
                &-wrapper {
                    padding-left: 14px;
                }
            }
        }
    }
    
}

.CorrectHeight-1 { height: 210px; }
.CorrectWidth-1 { width: 469px; }
.CorrectPaddingTop-1 { padding-top: 116px; }