/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Для слайдера FS_slider */
.FS_slider {
    position: relative;
}
.FS_slider .slick-arrow{
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 60px;
    height: 51px;
    border: 0;
}
.FS_slider .slick-arrow.slick-prev {
    left: -180px;
    top: 423px;
    background: url('../../icons/offers/Frame-4.svg') 0 0 / 100% no-repeat;  
}  
.FS_slider .slick-arrow.slick-next {
    left: -120px;
    top: 423px;
    background: url('../../icons/offers/Frame-5.svg') 0 0 / 100% no-repeat; 
}
.FS_slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}
.FS_slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.FS_slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.FS_slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
    border-radius: 50%;
} 
.FS_slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid var(--color-white);
} 







/* .FS_slider__item {

} */