.fz14lh21 {
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs-14);
    line-height: var(--lh-21);
}
.fz14lh26 {
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs-14);
    line-height: var(--lh-26);
}
.fz16lh18 {
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs-16);
    line-height: var(--lh-18);
}
.fz16lh18-b-L {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-16);
    line-height: var(--lh-18);
}
.fz16lh24 {
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs-16);
    line-height: var(--lh-24);
}
.fz16lh24-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-16);
    line-height: var(--lh-24);
}
.fz16lh26 {
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs-16);
    line-height: var(--lh-26);
}
.fz16lh26-i {
    font-style: italic;
    font-weight: normal;
    font-size: var(--fs-16);
    line-height: var(--lh-26);
}
.fz16lh26-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-16);
    line-height: var(--lh-26);
}
.fz16lh38-600 {
    font-style: normal;
    font-weight: 600;
    font-size: var(--fs-16);
    line-height: var(--lh-38);
}
.fz16lh40 {
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs-16);
    line-height: var(--lh-40);
}
.fz16lh40-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-16);
    line-height: var(--lh-40);
}
.fz22lh33-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-22);
    line-height: var(--lh-33);
}
.fz24lh34 {
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs-24);
    line-height: var(--lh-34);
}
.fz24lh38-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-24);
    line-height: var(--lh-38);
}
.fz24lh40-i {
    font-style: italic;
    font-weight: normal;
    font-size: var(--fs-24);
    line-height: var(--lh-40);
}
.fz36lh46-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-36);
    line-height: var(--lh-46);
}
.fz36lh48-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-36);
    line-height: var(--lh-48);
}
.fz36lh54-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-36);
    line-height: var(--lh-54);
}
.fz60lh74-b {
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-60);
    line-height: var(--lh-74);
}